<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292995348302-s3mpgd78gsh4tll86o42oe5i64eu0e45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292995348302-s3mpgd78gsh4tll86o42oe5i64eu0e45</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>292995348302-vkt5u43pvjmdqdvsbvj99ludktrioa69.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABhqWhOFiaaapbKe45ZUoig9-6tw7LOOk</string>
	<key>GCM_SENDER_ID</key>
	<string>292995348302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.traellingApp</string>
	<key>PROJECT_ID</key>
	<string>anboba</string>
	<key>STORAGE_BUCKET</key>
	<string>anboba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292995348302:ios:7df320a1ae8547811b101f</string>
	<key>DATABASE_URL</key>
	<string>https://anboba-default-rtdb.firebaseio.com</string>
</dict>
</plist>